.imagen-pelicula {
  width: 200px; /* ajusta el ancho deseado */
  height: 300px; /* ajusta la altura deseada */
  object-fit: cover; /* ajusta el comportamiento de la imagen para cubrir el contenedor */
  display: block; /* Asegura que la imagen ocupe toda la anchura del contenedor */
  margin: 0 auto; /* Centra la imagen horizontalmente dentro del contenedor */
}
.contenedor-pelicula {
  text-align: center; /* Centra el contenido horizontalmente */
}


.h1 {
  margin-top: 10px; /* Espacio entre la imagen y el texto */
}
