.detalle-container {
  padding: 40px;
  text-align: center;
  margin: 0 auto;
  max-width: 1200px; /* Add a maximum width for responsiveness */
}

.titulo {
  text-align: center;
  color: white;
  font-size: 30px;
  background-color: #333;
  padding: 10px 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  width: 100%; /* Make the title container full width */
}

.detalle-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.detalle-image {
  flex-basis: 40%; /* Set the width of the image container */
  margin-right: 20px; /* Add some margin between image and trailer containers */
}

.detalle-image img {
  max-width: 100%; /* Make sure the image doesn't exceed the container width */
  height: auto;
  border-radius: 20px;
}

.detalle-trailer {
  flex-basis: 50%; /* Set the width of the trailer container */
  position: relative;
  padding-bottom: 30.25%; /* Proportion 16:9 for the YouTube player */
  overflow: hidden;
  border-radius: 8px;
}

.detalle-trailer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 8px;
}

.detalle-info {
  text-align: left; /* Align the text to the left */
  width: 100%; /* Make the info container full width */
  margin-top: 20px; /* Add some margin between trailer and info containers */
}

.detalle-info p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.detalle-info .titulo {
  font-size: 18px;
  color: gray;
}

.release-date,
.runtime,
.rating {
  margin-bottom: 5px; /* Reduce margin between info elements */
}